proxmox_api_url          = "https://a.b.c.d:8006/api2/json"
proxmox_api_token_id     = "user@pam!name"
proxmox_api_token_secret = "secret"

ssh_public_keys = [
  "~/.ssh/id_ed25519.pub"
]
password = "secret_password"

proxmox_node = "pve"

# If dns creation is enabled, cluster_name + dns_zone will be the load balancer domain
cluster_name = "kube"
# This is the IP of the virtual load balancer, defaults to the nodes IPs (DNS-based load balancing)
cluster_vip = ["10.0.0.2"]
template = "debian13"
nodes = [
  {
    name    = "kube-0"
    id      = 0
    network = "ip=10.0.0.10/24,gw=10.0.0.1"
  },
  {
    name    = "kube-1"
    id      = 0
    network = "ip=10.0.0.11/24,gw=10.0.0.1"
  },
  {
    name    = "kube-2"
    id      = 0
    network = "ip=10.0.0.12/24,gw=10.0.0.1"
  },
]
nameserver   = "10.0.0.2"
searchdomain = "mydomain.com" # Optional, defaults to dns_zone if set, else empty

dns_server        = "10.0.0.2" # Comment this or set to "0.0.0.0" to disable DNS records creation
dns_key_name      = "tsig-key." # Must end with a dot
dns_key_algorithm = "hmac-sha256"
dns_key_secret    = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
dns_zone          = "mydomain.com." # Must be a fully qualified domain name
